* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background:#f4f6fa;
}

.layout {
  display:flex;
  height:100vh;
}

/* SIDEBAR */

.sidebar {
  width:240px;
  background:#ffffff;
  color:rgb(0, 0, 0);
  padding:20px;
}

.logo {
  font-size:22px;
  margin-bottom:30px;
}

.sidebar a {
  display:block;
  padding:12px;
  color:#7b26b1;
  text-decoration:none;
  border-radius:8px;
  margin-bottom:8px;
}

.sidebar a.active,
.sidebar a:hover {
  background:#b46ff0;
  color:white;
}

/* MAIN */

main {
  flex:1;
  padding:24px;
}

/* TOPBAR */

.topbar {
  display:flex;
  justify-content:space-between;
  margin-bottom:24px;
}

.topbar input {
  width:300px;
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
}

.primary {
  background:#2563eb;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  cursor:pointer;
}

/* GRID */

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
  gap:20px;
}

/* CARD */

.course-card {
  background:white;
  padding:18px;
  border-radius:14px;
  box-shadow:0 4px 15px rgba(0,0,0,.05);
  padding-right: 3;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.course-card.hidden {
  opacity:.4;
}

.course-header {
  display:flex;
  justify-content:space-between;
}

.badge {
  background: fixed #949dff;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;  
  border-radius:10px;
  margin-top: 20px;
  font-size:12px;
}

.meta {
  display:flex;
  justify-content:space-between;
  font-size:13px;
  color:#373e87;
}

/* ACTIONS */

.course-actions {
  display:flex;
  gap:8px;
  margin-top:auto;
}

.course-actions button {
  border:none;
  padding:6px 6px;
  border-radius:6px;
  cursor:pointer;
  justify-content: space-between;
}

.edit { background:#fbbf24; }
.delete { background:#ef4444; color:white; }
.btn-enroll { background:#22c55e; color:white; }

/* SWITCH */

.switch {
  position:relative;
  width:42px;
  height:22px;
}

.switch input { display:none; }

.slider {
  position:absolute;
  inset:0;
  background:#ccc;
  border-radius:22px;
}

.slider:before {
  content:"";
  position:absolute;
  width:18px;
  height:18px;
  top:2px;
  left:2px;
  background:white;
  border-radius:50%;
  transition:.2s;
}

.switch input:checked + .slider {
  background:#22c55e;
}

.switch input:checked + .slider:before {
  transform:translateX(20px);
}

/* MODAL */

.modal {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.4);
  display:none;
  place-items:center;
}

.modal-box {
  background:white;
  width:420px;
  padding:24px;
  border-radius:14px;
}

.modal-box input,
.modal-box select,
.modal-box textarea {
  width:100%;
  padding:10px;
  margin-bottom:10px;
}

.modal-actions {
  display:flex;
  justify-content:flex-end;
  gap:10px;
}
