/* Main */
.main {
  flex: 1;
  padding: 32px 48px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  border-radius: 14px;
  padding: 20px 28px;
  margin-bottom: 30px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.header h2 {
  font-size: 21px;
  font-weight: 600;
}

.header small {
  color: #6b7280;
}

/* User */
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.avatar {
  width: 38px;
  height: 38px;
  background: #38bdf8;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  width: 320px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px 14px;
  gap: 10px;
  margin-bottom: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
}

.search-icon {
  font-size: 16px;
  color: #888;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.search-box:focus-within {
  border-color: #6f60d4;
}


/* COURSE GRID */
.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

/* CARD */
.course-card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.course-grid a {
  text-decoration: none;
}

.course-grid h3,span {
  color: black;
}

.course-card:hover {
  transform: translateY(-6px);
}

/* CARD TOP */
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  width: 52px;
  height: 52px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
}

.section {
  font-size: 13px;
  padding: 5px 14px;
  border-radius: 20px;
  background: #f1f1f1;
}

/* TEXT */
.course-card h3 {
  margin-bottom: 8px;
}

.course-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

/* META */
.meta {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

/* COLORS */
.purple .icon {
  background: linear-gradient(135deg, #6a5acd, #836fff);
}

.pink .icon {
  background: linear-gradient(135deg, #ff6cab, #ff9472);
}

.blue .icon {
  background: linear-gradient(135deg, #2bc0e4, #00d4ff);
}

/* No results */
.no-results {
  display: none;
  margin-top: 24px;
  font-weight: 600;
  color: #555;
}

/* Smooth hide */
.course-card {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.course-card.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.96);
  position: absolute;
}
