.code-box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 90%;
}

.example-table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

.example-table th,
.example-table td {
  border: 1px solid #c1c1c1;
  padding: 8px;
}

textarea {
  width: 100%;
  height: 120px;
  font-family: monospace;
  padding: 10px;
}

button {
  padding: 9px 18px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.result {
  margin-top: 15px;
  background: #86efac;
  padding: 10px;
  border-radius: 5px;
}
