* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}
body {
    background: #ffffff;
}
.layout {
    display: flex;
}

.main {
    flex: 1;
    padding: 30px;
}

h1{
  font-size:30px; 
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 30px;
  color: #000000;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar {
    width: 40px;
    height: 40px;
    background: #38BDF8;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-container {
  width: 900px;
  margin-top: 30px;
  margin-left: 75px;
}

details {
  border-bottom: 1px solid #2a2a2a;
  padding: 26px 0;
  width: 1400px;
}

summary {
  list-style: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::after {
  content: "▾";
  font-size: 28px;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(180deg);
}

details p {
  margin-top: 18px;
  color: #000000;
  font-size: 20px;
  line-height: 1.8;
  max-width: 900px;
}