.question-box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 65%;
}

.options label {
  display: block;
  margin-bottom: 15px;
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  padding: 10px 20px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
}
