body {
  margin: 0px;
  background: #f2f2f2;
}


.topbar {
  background: #7fd3e6;
  padding: 20px;
}

.topbar h1 {
  font-size: 28px;
}


.container {
  display: flex;
}


.sidebar {
  width: 220px;
  background: #9adbea;
  min-height: 100vh;
  padding: 20px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 20px 0;
}

.content {
  flex: 1;
  padding: 30px;
}

.card {
  background: #bdf1f7;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-info h2 {
  margin-bottom: 8px;
}

.profile-card button {
  margin-left: auto;
  padding: 8px 12px;
  cursor: pointer;
}

.links button {
  margin-right: 15px;
  padding: 6px 12px;
  cursor: pointer;
}
