body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.layout {
  display: flex;   
}

.navbar {
  width: 260px;
  background: #e5e7eb;
  padding: 20px;
  min-height: 100vh;
}

.nav-logo {
  font-size: 20px;
  font-weight:bold;
  margin-bottom: 30px;
}

.nav-menu a {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 40px;
  text-decoration: none;
  color: #334155;
  transition: 0.3s;
}

.nav-menu a:hover{
/* .nav-menu a.active { */
  background: #38bdf8;
  color: #ffffff;
  border-radius: 8px;
}
